body {
    background: url("https://images7.alphacoders.com/516/thumb-1920-516124.png") no-repeat center
      center fixed;
    background-size: cover;
    font-family: "Gabarito", sans-serif;
    margin: 20px;
  }
  
  /* Caixa principal do jogo */
  .conteudo-jogo {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px yellow;
    margin: 30px;
    padding: 20px;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .conteudo-jogo:hover {
    box-shadow: 0 0 20px blue;
  }
  
  /* Títulos e textos */
  h2,
  p {
    text-align: center;
    color: black;
  }


  /* Tablets */
  @media screen and (min-width: 768px) and (max-width: 115px) {
    .logoalura {
      margin-left: calc(100% - 710PX);
    }
  }
  /*Celulares! */
  @media screen and (max-width:500px) {
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  }


  /* Estrutura do questionário */
  .questionario {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 70%;
    max-width: 70%;
  }
  
  /* Área de conteúdo */
  .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 20px;
  }
  
  /* Estilo da pergunta */
  .pergunta {
    font-weight: 600;
    color: white;
  }
  
  /* Progresso da pergunta */
  .progresso {
    text-align: end;
    font-size: small;
    font-weight: 500;
    color: white;
  }
  
  /* Área das respostas */
  .respostas {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  /* Botões de resposta */
  .botao-resposta {
    width: 100%;
    height: 2.5rem;
    text-align: start;
    padding: 5px;
    border: none;
    cursor: pointer;
    background: blue;
    color: white;
  }
  
  .botao-resposta:hover {
    background: green;
    font-weight: 600;
  }
  
  /* Tela de fim do jogo */
  .fim {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .fim span {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    color: white;
  }
  footer{
    text-align: center;
  }